.button {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    background-color: #6f6f6f;
    box-sizing: border-box;
    border: none;
    text-transform: uppercase;
    border-radius: 12px;
    color: #fff;
    cursor: pointer;
}